{% extends "base.html" %}
{% block title %}
simplestyle_horizon
{% endblock %}
{% block title_num %}{{object_list.get('title')}}{% endblock %}
{% block body %}
 <div>
        <a href="/product-list/?id={{id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание продукта для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку продуктов</button>
        </form>
    </div>
{% endblock %}