{% extends "base.html" %}
{% block title %}
simplestyle_horizon
{% endblock %}
{% block body %}
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="index.html">Funko pop<span class="logo_colour">figures</span></a></h1>
                <h2>{{object_list.get('title')}}</h2>
            </div>
        </div>
        <div id="menubar">
            {% block menu %}
            {% include "inc_menu.html" %}
            {% endblock %}
        </div>

    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Новости</h3>
                    <h4>Запуск сайта</h4>
                    <h5>{{object_list.get('date')}}</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu libero consectetur neque
                        euismod gravida pulvinar ut urna. Nunc lacinia sapien nibh, vulputate efficitur turpis
                        condimentum venenatis.<br/><a href="#">Подробнее</a></p>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">link 1</a></li>
                        <li><a href="#">link 2</a></li>
                        <li><a href="#">link 3</a></li>
                        <li><a href="#">link 4</a></li>
                    </ul>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Поиск</h3>
                    <form method="post" action="#" id="search_form">
                        <p>
                            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                                   src="style/search.png" alt="Search" title="Search"/>
                        </p>
                    </form>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        <div id="content">
            <h1>Добро пожаловать в магазин фигурок Funko pop</h1>
            <div>
                		<a href="/create-category/">Создать новую категорию</a>
            </div>
            <div>
                <h1>Категории товаров</h1>
                {% for item in object_list.get('categories') %}
                <li>
                    {{item.name}} <span>Количество товаров: {{item.product_count()}}</span>
                    <a href="/products-list/?id={{item.id}}">Показать товары</a>
                </li>
                {% endfor %}
            </div>

        </div>
    </div>
    {% block footer %}
    {% include "inc_footer.html" %}
    {% endblock %}
</div>
{% endblock %}